div.main{
	background-color: #E0E0E0;
	padding-left:20px;
}
.text{
	float: right;
	padding-right: 200px;
	margin-left: 500px;
	padding-top: 30px;
}
.text button{
	/*padding-left: 50px;*/
	margin-left: 40px;
}
